# Python virtual environments
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large datasets
ml/**/*.csv
data/**/*.csv

# ML models
ml/models/*.pkl
ml/models/*.joblib
ml/models/*.h5
ml/models/*.pt

# Temporary ML files
ml/tmp/

# Logs
logs/

# Secrets
.env
access_token.txt

# OS files
.DS_Store
Thumbs.db